.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.375rem;
	font-weight: 500;
	transition: all 0.2s;
	cursor: pointer;
	text-decoration: none;
	border: none;
}

/* Variants */
.primary {
	background-color: #3f9143;
	color: white;

	&:hover {
		background-color: #08460b;
	}
}

.secondary {
	background-color: transparent;
	border: 1px solid #6cb96f;
	color: #6cb96f;

	&:hover {
		background-color: #e5e7eb;
	}
}

.danger {
	background-color: #fff;
	color: red;
	border: 1px solid red;
	&:hover {
		background-color: rgb(245, 151, 151);
	}
}

.text {
	background-color: transparent;
	color: #2563eb;

	&:hover {
		text-decoration: underline;
	}
}

/* Sizes */
.sm {
	padding: 0.25rem 1rem;
	font-size: 1rem;
}

.md {
	padding: 0.7rem 1.5rem;
	font-size: 1rem;
}

.lg {
	padding: 0.7rem 7.5rem;
	font-size: 1.1rem;
}

/* State */
.disabled {
	opacity: 0.6;
	background-color: #d3d3d3;
	color: #9b9b9b;
	cursor: not-allowed;
	&:hover {
		background-color: #d3d3d3;
		color: #9b9b9b;
	}
}
